################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GaleShockTrooperWWISE/GeneratedSoundBanks
/Build
/CommissionInfo
/Assets/Blend/ShockTrooperFinal.blend1
/GaleShockTrooper/netweaver/netstandard/GaleShockTrooper.dll
/GaleShockTrooper/netweaver/netstandard/GaleShockTrooper.dll.mdb
/.vs/GaleShockTrooper/v17
/.vs/VSWorkspaceState.json
